<!DOCTYPE html>


{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}  {% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="container column is-10">
  <div class="section" >


    <div class="card" style="width:800px;">
      <div class="card-header" ><p class="card-header-title">{{ fragen[index]["Frage"] }}</p></div>
      <div class="card-content"><div class="content">
        <div class="columns">
          <div class="column is-half"><a class="button is-light" href="/answerQuestion/{{index}}/0">>{{ fragen[index]["Optionen"][0] }}</a></div>
          <div class="column is-half"><a class="button is-light" href="/answerQuestion/{{index}}/1">{{ fragen[index]["Optionen"][2] }}</a></div>
        </div>
        
        <div class="columns">
          <div class="column is-half"><a class="button is-light" href="/answerQuestion/{{index}}/2">{{ fragen[index]["Optionen"][1] }}</a></div>
          <div class="column is-half"><a class="button is-light" href="/answerQuestion/{{index}}/3">{{ fragen[index]["Optionen"][3] }}</a></div>
        </div>
      </div>
    </div>
    </div>
    <br/>
  </div>
</div>
{% endblock %}


