<!DOCTYPE html>


{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}  {% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="container column is-10">
  <div class="section">
    <div class="card" style="width:800px;">
      <div class="card-header" ><p class="card-header-title">{{ frage.Frage }}</p></div>
      <div class="card-content"><div class="content">
        <form action="{{ url_for('answerQuestion',qid=frage.id) }}" method="post" novalidate>
          <div class="columns">
            <div class="column is-half">{{form.option_eins(class="button is-light") }}{{ frage.Option_eins }}</div>
            <div class="column is-half">{{form.option_drei(class="button is-light") }}{{ frage.Option_drei }}</div>
          </div>
          
          <div class="columns">
            <div class="column is-half">{{form.option_zwei(class="button is-light") }}{{ frage.Option_zwei }}</div>
            <div class="column is-half">{{form.option_vier(class="button is-light") }}{{ frage.Option_vier }}</div>
          </div>
        </form>
      </div>
    </div>
    </div>
    <br/>
  </div>
</div>
{% endblock %}


