<!DOCTYPE html>


{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}  {% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="container column is-10">
  <div class="section" width="100%">


    <div class="card" width="100%">
      <div class="card-header"><p class="card-header-title">Deine Score: {{ score }}</p></div>
      
      <div id="satz" class="card-content"><div class="content">
          <script>
              (function() {
                var quotes = [
                    "Wow, das war echt völlig ok",
                    "Hammer",
                    "Du bist gut",
                    "200IQ",
                    "Nicht schlecht",
                    "Klasse",
                    "Mega gut",
                    "War OK",
                    "Nicht schlecht fürs erste mal",
                    "Starke Score",
                    "Wow, du kennst dich echt aus",
                    "Du hasts echt drauf!",
                    "Sehr Gut"
                ];
                var quote = quotes[Math.floor(Math.random() * quotes.length)];
                document.getElementById("satz").innerHTML =
                  '<p>' + quote + '</p>';
              })();
            </script>
      </div>
    </div>
    </div>
    <br/>
    <!--<div class="content-section">
        <form method="POST" action="{{ url_for('submit') }}">
            {{ form.hidden_tag() }}
          <fieldset class="form-group">
            <div class="form-group">
                {{ form.name.label(class="form-control-label")}}
                {{ form.name(class="form-control form-control-lg")}}
            </div>
          </fieldset>
          <div class="form-group">
              {{ form.submit(class="button")}}
          </div>
        </form>
      </div>-->
  </div>
</div>
{% endblock %}


