<!DOCTYPE html>
<html>

<head>
    <title>TEST</title>
    <a>AUSWAHL</a>
    <link rel="stylesheet" href="./test.css">
</head>

<body>
    <form action="https://www.amazon.de/s" method="get" target="_blank">
        <fieldset>
            <legend>
                Amazon Suche
            </legend>
            <input type="text" name="k" value="" size="30" maxlength="50">
            <button type="submit">Suche!</button>

            <select name="i">
                <option value="">Alle Kategorien</option> 
                <option value="stripbooks">Bücher</option> 
                <option value="baby">Baby</option> 
                <option value="pantry">Pantry</option> 
                <option value="clothing">Kleidung</option> 
            </select>
            
        </fieldset>
    </form>
</body>

</html>